body { margin: 0px; overflow: hidden; }
.STYLE4 { color: rgb(66, 135, 10); font-size: 12px; }
.STYLE5 { color: rgb(123, 189, 56); font-size: 12px; }
/* ::::: http://www.wsfxfkls.com/LawAdmin/css/tab.css ::::: */

body { margin: 0px; }
td { font-size: 12px; }
a:link { font-size: 12px; text-decoration: none; color: rgb(6, 82, 125); }
a:visited { font-size: 12px; text-decoration: none; color: rgb(6, 82, 125); }
a:hover { font-size: 12px; text-decoration: underline; color: rgb(255, 0, 0); }
